<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .back-link a {
            color: #4ca340;
            text-decoration: none;
            border-bottom: 1px #4ca340 solid;
        }

            .back-link a:hover,
            .back-link a:focus {
                color: #408536;
                text-decoration: none;
                border-bottom: 1px #408536 solid;
            }

        .entry-header {
            text-align: left;
            margin: 0 auto 50px auto;
            width: 80%;
            max-width: 978px;
            position: relative;
            z-index: 10001;
        }

        #demo-content {
            padding-top: 0px;
        }
    </style>

    <script>

        // Add active class to the current button (highlight it)
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("name");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
    <style>

        #body1 {
            font-family: "Muli", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #8a8d93;
            background-color: #fff;
        }
    </style>


</head>

<body id="body1" class="demo">

    <style>



        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }





        nav.navbar a {
            color: inherit;
        }

        .navbar-brand {
            float: left;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
        }

        .navbar-brand {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
        }

        .navbar-brand {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }

        a {
            color: #DB6574;
            text-decoration: none;
        }

        a {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            display: inline-block;
        }

        a {
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
        }




        .navbar-header {
            float: left;
        }



        .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }

        .navbar > .container, .navbar > .container-fluid {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }

        .justify-content-between {
            -ms-flex-pack: justify !important;
            justify-content: space-between !important;
        }

        .d-flex {
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .container-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .navbar-header {
            float: left;
        }

        *, ::after, ::before {
            box-sizing: border-box;
        }

        nav.navbar {
            color: #8a8d93;
        }

        .d-flex {
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .container-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        *, ::after, ::before {
            box-sizing: border-box;
        }

        nav.navbar {
            color: #8a8d93;
        }

        body {
            font-family: "Muli", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #8a8d93;
        }

        body {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
        }

        nav.navbar {
            background: #2d3035;
            color: #8a8d93;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #34373d;
            z-index: 10;
        }

        .navbar {
            position: relative;
            z-index: 1000;
            min-height: 50px;
            border: 1px solid transparent;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: transparent;
        }

        .navbar {
            padding: 0.5rem 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .navbar-expand-lg {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .navbar {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: .5rem 1rem;
        }

        nav {
            display: block;
        }

        article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
            display: block;
        }
    </style>




    <header class="header" style="top: 0px;">
        <nav class="navbar navbar-expand-lg" style="border-radius: 0px;">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="navbar-header">

                    <!-- Navbar Header--><a href="@Url.Action("Index","Home")" style="font-size: 18px;line-height: 20px;">
                        <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary"> Durban </strong><strong> Equipment-Hire</strong></div>

                    </a>
                    <!-- Sidebar Toggle Btn-->
                    @*<button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>*@



                </div>
                <div class="container" style="max-width: 1170px;">
                    <div class="navbar-collapse collapse" style="background-color: #2d3035;">
                        <ul class="nav navbar-nav">
                            










                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>



        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  @DateTime.Now.Year - Durban Equipment Hire. All right reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("scripts1", required: false)
</body>
</html>
